/* Import custom fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* Color Palette Used:
#000000 (#102937);
#14212D (dark blue);
#FCA311 (yellow);
#E5E5E5 (light gray);
#FFFFFF (white);
*/



/* This is a custom class to change the color of the NavBar...it overrides the Bootstrap built-in style */
.navStyle {
  background-color: #E5E5E5;
}

/* Background color for every page, default font for every page, default font color for every page */
body {
  background-color: #102937 !important;
  font-family: 'ABeeZee', sans-serif !important;
  color: #E5E5E5 !important;
}

/* Custom font & font color for h1 elements, center alignment for text, text resize (and override of h1 default), top padding (for cushion away from NavBar) */
h1 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 150px !important;
  padding-top: 150px;

}

/* Custom font & font color for h2 elements, center alignment for text, text resize (and override of h2 default), top padding (for cushion from other elements), text underline feature */
h2 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 60px !important;
  padding-top: 30px;
  border-color: white;

}

h3 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 80px !important;
  padding-top: 20px;
}

h4{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 15px !important;
  padding-top: 2px;
}

h5 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 80px !important;
  padding-top: 2px;
}

/* Text alignment for h6 elements, italics */
h6 {
  text-align: center;
  font-style: italic;
}

/* Text color for all links on page */
a {
  color: white !important;
  font-size: 100;
}

/* Text color & text background color for all links on page, when hovering */
a:hover {
  color: #102937 !important;
  background-color: white !important;
}

/* Background color for VIP logo on NavBar */
#icon {
  background-color: white !important;
}

/* Overrides built-in Bootstrap style for cards and list items (used in cards and NavBar) - background color, text color, font */
.card, li {
  background-color: #102937 !important;
  font-family: 'Roboto Mono', monospace;
  color: white !important;
  max-width: 25vw
}

/* Under construction pages - image responsiveness dependent on device/screen size */
img {
  width: 15vw;
  padding: 10px;
  padding-top: 40px
}

/* To customize the color of the button background and text on the form (suggestions page) */
.btn-primary {
  background-color: #102937 !important;
  color: beige !important;
  border-color: #102937 !important;
}

/* To increase the size of the form box for user rationale */
#details {
  height: 150px;
}

.carousel {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.accordion {
  max-width: 45vw;
  display: inline-block;
  vertical-align: top;
}

.description{
    margin: 100px;

}

.editcard{
    background-color: brown;
}


.space{
    height: 50px;

}

@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  background: #2c3e50;
}

h1{
  font-size: 30px;
  color: #ffffff;
  margin: 50px 0 50px 25px;
}
/*=== Basic box styling  ===*/
.box {

  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 600;
  /* height: 150px;
  line-height: 150px;
  margin: 0 auto 3%; */
  padding: 20px;
  text-align: center;
  /* text-transform: uppercase; */
  width: 95%;
}
/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

p{
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

.twenty{
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.three {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.four {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.five {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.six {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

.seven {
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  animation-delay: 6.5s;
}

.eight {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

/*=== Animations start here  ===*/

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN DOWN ===*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*=== FADE IN UP Big ===*/
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*=== FADE IN DOWN Big ===*/
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*=== FADE IN LEFT Big ===*/
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*=== FADE IN RIGHT Big ===*/
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


/* Timeline */
body{margin-top:20px;}
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted white;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted white;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1rem;
    height: 0.66 rem;
    width: 0.66 rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: white;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    border-radius: 4.1rem;
    opacity: .5
}

h6{
  color: white !important
}