<!DOCTYPE html>
<html>
  <head>
    
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
  	<title> Acquivision: About Us</title>
  	<link href="static/css/style.css" rel="stylesheet" type="text/css" />
    
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

  

  </head>
  <body>

    <!-- Navbar -->
  <!-- https://getbootstrap.com/docs/5.3/components/navbar/ -->
  <!-- Create a navbar with a dark background -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-#102937">
    <!-- Add a branding/logo for the navbar -->
    <a class="navbar-brand" href="">Acquivision</a>


    <!-- Create a navbar toggle button that triggers the collapse behavior -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!-- Add an icon for the navbar toggle button -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Create a collapsible navbar content area -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Create an unordered list to hold the navigation links -->
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tutorial">Tutorial</a>
        </li>
        {% if session %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

    
  <div>
    <!-- <h2><u>About Acquivision</u></h2> -->
    <div class = "container">
        <div class="box animate fadeInDown one">
    <h3 style="justify-content: center; padding-bottom: 20px; padding-top: 10px"> So what <u>is</u> Acquivision?</h3>
    <p style="justify-content: center; text-align: left; padding-left: 100px; padding-right: 100px;">Acquivision is a merger model
      platform
      that simplifies the complex and tedious mergers & acquisitions process into three simple user entries. A merger
      model’s goal boils
      down to one: if company A acquires/buys company B, will the earnings per share of company A increase or decrease?
      By utilizing several vast APIs and a plethora of algorithms designed by our team, we can come to this conclusion
      with breakneck speed.</p>

    <p style="justify-content: center; text-align: left; padding-left: 100px; padding-right: 100px;">Now, the question is: how accurate is
      our model? Would the EPS
      from a standard excel spreadsheet model be
      vastly different from Acquivision’s platform? The question is, as with most things, it depends. There are
      acquisitions that are heavily dependent on cost and revenue synergies that are impossible to account for due to
      their complex and difficult to quantify nature. What Acquivision excels at is providing a succinct and easy to
      digest model purely based on the financials of two companies for our clients.</p>

    <p style="justify-content: center; text-align: left; padding-left: 100px; padding-right: 100px;">What’s important to note is that no
      company will ever buy
      another company because a model projects that it will see a significant EPS increase. What that increase will
      show, however, is that the opportunity is something to look into. Acquivision makes it possible for
      professionals to see the rough estimate of change in EPS from an acquisition and then decide whether it’s an
      opportunity worth pursuing.
    </p>
    </div>
    </div>
  </div>


  
     


    
    
    <!-- Necessary Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
    
    
    
    
    
    </body>
</html>