<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acquivision: Start </title>
</head>
<body>
    start page!

    {% if buyer %}
    <h3> Seller </h3>
    <form method="post" action="/start">
        <label for="seller"> </label>
        <input type="text" name="seller" />
        <button type="submit" class="button">Submit</button>
    </form>
    <p> {{ line }} </p>
    {% elif seller %} 
    <form method="post" action="/start">
        <label for="debt"> How much debt do you want to finance the acquisition? (in %)</label>
        <input type="text" name="debt" />
        <button type="submit" class="button">Submit</button>
    </form>
    {% else %}
    <h3> Buyer </h3>
    <form method="post" action="/start">
        <label for="buyer"> </label>
        <input type="text" name="buyer" />
        <button type="submit" class="button">Submit</button>
    </form>
    {% endif %}



   
</body>
</html>