<!DOCTYPE html>
<html>
  <head>
    
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
  	<title> Acquivision: Home</title>
  	<link href="static/css/style.css" rel="stylesheet" type="text/css" />
    
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />



  </head>
  <body>

        <!-- Navbar -->
  <!-- https://getbootstrap.com/docs/5.3/components/navbar/ -->
  <!-- Create a navbar with a dark background -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-#102937">
    <!-- Add a branding/logo for the navbar -->
    <a class="navbar-brand" href="">Acquivision</a>


    <!-- Create a navbar toggle button that triggers the collapse behavior -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!-- Add an icon for the navbar toggle button -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Create a collapsible navbar content area -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Create an unordered list to hold the navigation links -->
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tutorial">Tutorial</a>
        </li>
        {% if session %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

    
    <div>
      <div class = "container">
        <div class = "row"> 
          <div class = "col-6">
            <center>
              
            {% if new %}
            <div class = "container">
              <div class="box animate fadeInDown one">
               <h3 style="padding-top: 200px;"> Buyer </h3>
              <form method="post" action="/temp">
                <label for="buyer">  </label>
                <input type="text" name="buyer" />
                <!-- <button type="submit" class="button">chch</button> -->
              </form>
              </div>
              </div>
            {% endif %}

            {% if buyer %}
            <div class = "container">
              <div class="box animate fadeInDown one">
              <img src = "{{ buyer_information["image"]}}"></img>
              <h5> {{ buyer_information["companyName"]}} </h5>
              <h4>  {{ buyer_information["sector"]}} </h4>
              <!-- <h4>  {{ buyer_information["description"]}} </h4> -->
              </div>
              </div>
            {% endif %}

            {% if seller %}
              <img src = "{{ buyer_information["image"]}}"></img>
              <h3> {{ buyer_information["companyName"]}} </h3>
              <h4>  {{ buyer_information["sector"]}} </h4>
              <!-- <h4>  {{ buyer_information["description"]}} </h4> -->
            {% endif %}
            
            </center>
          </div>

          <div class = "col-6">
            <center>
              
              <div class = "container">  
                {% if new %}
                <div class = "container">
                  <div class="box animate fadeInDown one">
                  <h3 style="padding-top: 200px;"> Seller </h3>
                  </div>
                  </div>
                {% endif %}
                
                {% if buyer %}
                
                  <h3 style="padding-top: 200px;"> Seller </h3>
                  <form method="post" action="/temp">
                      <label for="seller"> </label>
                      <input type="text" name="seller" />
                      <!-- <button type="submit" class="button"> Find </button> -->
                  </form>
                  </div>
                
                {% endif %}
              </div>
              
              {% if seller %}
              <div class = "container">
                <div class="box animate fadeInDown one">
              <img src = "{{ seller_information["image"]}}"></img>
              <h3> {{ seller_information["companyName"]}} </h3>
              <h4>  {{ seller_information["sector"]}} </h4>
              <!-- <h4>  {{ seller_information["description"]}} </h4> -->
              </div>
              </div>
              {% endif %}
              
            </center>
          </div>
        </div>
      </div>
      <center>
    
        {% if seller %} 
        <div class = "container">
          <div class="box animate fadeInUp two">
          <div class = "container" style="padding-top: 30px;">
            <form method="post" action="/loading">
              <label for="debt"> How much debt do you want to finance the acquisition? (in %)</label>
              <input type="text" name="debt" />
              <!-- <button type="submit" class="button">Submit</button> -->
            </form>
          </div>
          </div>
          </div>
        {% endif %}
        
        
    
      </center>
      
      
    </div>



  
     


    
    
    <script src="script.js"></script>
    <!-- Necessary Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
    
    
    
    
    
    </body>
</html>