<!DOCTYPE html>
<html>
  <head>
    
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
  	<title> Acquivision: Home</title>
  	<link href="static/css/style.css" rel="stylesheet" type="text/css" />
    
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />



  </head>
  <body>

    <!-- Navbar -->
  <!-- https://getbootstrap.com/docs/5.3/components/navbar/ -->
  <!-- Create a navbar with a dark background -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-#102937">
    <!-- Add a branding/logo for the navbar -->
    <a class="navbar-brand" href="#">Logo</a>


    <!-- Create a navbar toggle button that triggers the collapse behavior -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!-- Add an icon for the navbar toggle button -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Create a collapsible navbar content area -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Create an unordered list to hold the navigation links -->
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Profile</a>
        </li>
        {% if session %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

    
    <div>
      <h1> Tutorial </h1>
      <h5>1. Select a buyer, or a company that you want see acquire another company. Provide the prompt with the stock ticker of that company.</h5>
      <h5>2. Select a seller, or a company that you want to see bought by the company in step one. Acquivision will build a financial profile of the company behind the scenes and create a purchase price based on said profile. </h5>
      <h5>3. Select how you want to finance the acquisition of company B: cash or debt. When prompted with what percentage of the purchase will be financed with debt, the rest of the purchase is assumed to be bought with cash. </h5>
      <h5>4. Acquivision’s algorithm then projects the financials of both companies into the intermediate future, combining projected net incomes, subtracting interest expenses, and dividing by the new share count of the buyer after buying the seller company. This leaves us with our new EPS values. </h5>
      <h5>5. The EPS values of each forecasted year are then shown. A positive EPS signals that the acquisition is accretive (good!) and a negative EPS signals that the acquisition is dilutive (bad…). </h5>
      <h5>6. Finally, an explanation of the data is then presented to make sense of the numbers in a digestible format.
      
    </div>



    
    
    <script src="script.js"></script>
    <!-- Necessary Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
    
    
    
    
    
    </body>
</html>